# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!/content/stoicism/28.md

# Local Netlify folder
.netlify
